.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 5px;

  .chatroom-name-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
  }

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    border: 1px solid $gray-200;;
    border-color: $gray-200;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .input {
    margin-bottom: 10px;
  }

  .message-text {
    text-align: start;
  }

}

.single-chat {
  height: 80px;
  border-bottom: 1px lightgrey;
  font-size: 20px;
  margin-top: 35px;
}

.chatroom-index-container {
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid $gray-200;;
  border-color: $gray-200;
}
