// Specific CSS for your home-page
.container-fluid {
  margin: 0 auto;
  padding: 0;
}

.image-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.image-container img {
  width: 100%;
  display: block;
}

.image-caption {
  position: absolute;
  bottom: 15%;
  left: 30%;
  transform: translateX(-50%);
  background-color: rgba(102, 102, 102, 0.574);
  color: #fff;
  border-radius: 5px;
}

// p {
//   font-size: 1.2rem;
//   color: #666;
//   text-align: center;
//   margin-bottom: 30px;
// }

.country-dropdown {
  margin-bottom: 30px;
  text-align: center;
}

.form-select {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
}


.btn-outline-success:hover {
  background-color: #218838;
}

.circle-container {
  position: relative;
  width: 20em;
  height: 20em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border-radius: 50%;
  margin: 1.75em auto 0;
}

.circle-container a {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2.25em;
}
.circle-container img { display: block; width: 100%; }
.deg0 { transform: translate(10em); } /* 12em = half the width of the wrapper */
.deg45 { transform: rotate(60deg) translate(9em) rotate(-45deg); }
.deg135 { transform: rotate(128deg) translate(11em) rotate(-135deg); }
.deg180 { transform: translate(-11em); }
.deg225 { transform: rotate(231deg) translate(11em) rotate(-225deg); }
.deg315 { transform: rotate(293deg) translate(9em) rotate(-315deg); }

// .logo-container {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 200px;
//   height: 200px;
//   border-radius: 50%;
//   background-color: #f0f0f0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 1;
// }

.tree-logo {
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; height: 4em;
  margin: -2.25em;
}

// .categories-container {
//   display: block;
//   position: absolute;
//   top: 50%; left: 50%;
//   width: 4em; height: 4em;
//   margin: -2em;
// }

// .category-link {
//   text-decoration: none;
//   color: inherit;
// }

.category-card {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.category-card h4 {
  margin: 0;
  font-size: 10px;
}

.category-card p {
  margin: 0;
  font-size: 10px;
}

.map-container {
  display: flex;
  & > * {
    flex: 1 0 0%;
  }
  padding: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.interactive-map {
  min-width: 60%;
}
