// Specific CSS for your home-page
.container-fluid {
  margin: 0 auto;
}

.image-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

.image-container img {
  width: 100%;
  display: block;
}

.image-caption {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(102, 102, 102, 0.574);
  color: #fff;
  border-radius: 5px;
}

// p {
//   font-size: 1.2rem;
//   color: #666;
//   text-align: center;
//   margin-bottom: 30px;
// }

.country-dropdown {
  margin-bottom: 30px;
  text-align: center;
}

.form-select {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
}


