.show-card-container {
  display: flex;
  justify-content: center;
}

.show-card {
  overflow: hidden;
  width: 50%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 30px;
  border-radius: 5px;
}

.show-card img {
  height: 60%;
  width: 60%;
  padding: 20px;
  margin-top: 40px;
  // object-fit: cover;
}

.show-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: left;
}

.show-card-infos {
  margin: 10px;
  padding-right: 20px;
}
