.card-product {
  // overflow: hidden;
  height: 300px;
  width: 250px;
  background: white;
  box-shadow: 19px 20px 30px rgba(0,0,0,0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 15px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-between
}

.card-product-container {
  flex-wrap: wrap;
}

.btn.btn-outline-success {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #26B29D;
  border-radius: 5px;
  background-color: #26B29D;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.btn-outline-success:hover {
  background-color: #179986;
  margin-bottom: 15px;
}
