.show-card-container {
  display: flex;
  justify-content: center;
}

.show-card {
  overflow: hidden;
  width: 50%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.show-card img {
  height: 100%;
  width: 120px;
  // object-fit: cover;
}

.show-card h2 {
  font-size: 16px;
  font-weight: bold;

}

.show-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.show-card-infos {
  margin: 10px;
}
