.links {
  display: flex;
  margin: 30px;
  padding-bottom: 10px;
}

.user-info {
  height: fit-content;
}

.usercard {
  display: flex;

}

.btn-outline-success {
  font-size: 12px;
  width: fit-content;
}

.cancellation {
  display: flex;

}
