.links {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding-bottom: 10px;
}

.user-info {
  display: inline;
  height: fit-content;
  width: 300px;
}

.usercard {
  display: flex;
  min-height: inherit;
}

.btn-outline-success {
  font-size: 12px;
  width: fit-content;
}

.cancellation {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.btn-inverted {
  margin-top: auto;
  margin-bottom: 0px;
}

.edit-container-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 90vw;
  min-height: 100%;
}
