.links {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding-bottom: 10px;
}

.user-info {
  display: flex;
  height: fit-content;
  flex-direction: row;
  width: 500px;
}

.usercard {
  display: flex;
  min-height: inherit;
  background-color: #f8f9fa;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-outline-success {
  font-size: 12px;
  width: fit-content;
}

.btn-inverted {
  margin-top: auto;
  margin-bottom: 0px;
}

// .edit-container-profile {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   max-width: 90vw;
//   min-height: 100%;
// }

.avatar-side {
  max-height: 100%;
  max-width: 200px;
  border-radius: 5px;
}

.edit-cancel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
