<div class="container edit-container">
  <h1>My Messages</h1>

  <div class="chatroom-index-container border border-dark ms-4">
      <ul> <strong>My chatrooms</strong>
        <%  @chatrooms.each do |chatroom| %>
        <li>
          <%= link_to chatroom.contributor.offers.first.name, chatroom_path(chatroom) %>
        </li>
        <% end %>
      </ul>
  </div>
</div>
