.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: small;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
