// * Define footer styles */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /*without this the icons are not aligned correctly */
  width: 100%;
  height: 80px; /* Adjust height as needed */
  background-color: #F4F4F4; /* Footer background color */
  color: #333; /* Text color */
  text-align: center;
  line-height: 80px; /* Vertical centering */
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.copyright {
  margin-left: 30px;
}

.fake-links {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.footer-icons {
  display: flex;
  align-content: center;
  margin-right: 30px;
}

.footer p {
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #333;
  margin-left: 4px;
  margin-right: 4px;
}

i {
  margin-left: 4px;
  margin-right: 4px;
}
