.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar .container-fluid {
  padding: 10px;
}

.login {
  font-size: 20px;
}

.navbar-links-container {
  display: flex;
  align-content: center;
}

.nav-link {
  margin: 0 10px;
  display: flex;
  justify-content: center;
}
