<h1>Categories index page</h1>

<div class="dropdown">
  <%# <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Select city
  </a>

  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">City 1</a></li>
    <li><a class="dropdown-item" href="#">City 2</a></li>
    <li><a class="dropdown-item" href="#">City 3</a></li>
  </ul> %>

  <select class="form-select" aria-label="Default select example">
      <option selected>Select city</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
</select>
</div>



<div class="categories">
  <% @categories.each_with_index do |category, index| %>
    <div class="category" >
      <h4><%= category.name.upcase %></h4>
      <p><%= @icons[index].html_safe %></p>
    </div>
  <% end %>
</div>
